*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#navlist{
    margin-left: 10px;
    margin-right: 15px;
    list-style: none;
    font-size: 1.7rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.container{
    width: 100vw;
    height: 100%;
    overflow-x: none;
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}
.navcontainer{
    width: 100vw;
    height: 55px;
    background-image: linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%);
    display: flex;
    justify-content:center;
    align-items: center;
    
}

#navlogo{
    font-size: 2.3rem;
    font-family: 'Satisfy', cursive;
    color: white;
}
nav{
    width: 100vw;
    padding: 30px;
    
}
a{
    text-decoration: none;
    color: #f5f0f0;
}
#navitems{
    display: flex;
    gap: 20px;
}
.footerbox{
    background-image: linear-gradient(to right, #ff8077d8 0%, #ff857ad5 0%, #ff8c7fd5 21%, #f99085d3 52%, #cf556bd5 78%, #b12a5b 100%);
    color: #fdfbfb;
   width: 100%;
    font-size: 1rem;
    padding: 7px;
   
}
.contentBox{
    width: 60%;
    margin: auto;
    border: 1px black solid;
    box-shadow: 0px 0px 30px rgba(68, 41, 41, 0.719);
    background-color: white;
}
.item{
    display: flex;
    gap: 27px;
    justify-content: space-around;
    align-items: center;
}
.photo img{
    height: 300px;
    width: 200px;
    border-radius: 20px;
    /* drop-shadow(30px 10px 4px #4444dd) */
    box-shadow: 0 0 10px #3b1725c9;
    /* transition: all 0.3s linear; */
}
.photo:hover {
    transform: scale(1.2);
}
.contentBox{
    display: flex;
    flex-direction: column;
    gap: 60px;
    padding: 2.5rem;
    padding-left: 3rem;
}
.recipe{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.recipe h2{
    font-size: 1.5rem;
}
#ingbox{
    font-size: 1.2rem;
}
#process{
    font-size: 1.02rem;
}
.photo{
    position: relative;
    overflow: hidden;
    transition: all 0.3s linear;
    border-radius: 20px;
}
.photo .overlay{
    position: absolute;
    color: #ffffff;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 20px;
    background-color: #2b2829d8;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
}
.photo:hover .overlay{
    opacity: 1;
}
